<p>list of all coffee</p>

<div class="all_items">
    #foreach ($c in $coffee)
    <div class="single_item">
        <hr />
        <p>$c.getDescription()</p>
        <p>$c.getPrice()</p>
        <a href="/coffee/$c.getId()">Show More</a>
        <hr />
    </div>
    #end
</div>