<section class="index_header equipment-header">
<h1>Equipment</h1>
</section>

<div class="all_items">
    #foreach ($e in $equipment)
    <div class="single_item" style="background-image: url($e.getImage())">
        <p>$e.getName()</p>
        <p>$e.prettyPrice()</p>
        <a href="/equipment/$e.getId()">Show More</a>
    </div>
    #end
</div>