<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Coffee Shop</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/coffee">Coffee</a>
            </li>
            <li>
                <a href="/equipment">Equipment</a>
            </li>
            <li>
                <a href="/misc">Misc</a>
            </li>
            <li>
                #if ($user)
                <a href="/account">My Account</a>
                #else
                <a href="/login">Login</a>
                #end


            </li>
        </ul>
    </nav>
    #parse($template)
</body>
</html>