<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Coffee Shop</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li class="home">
                <a href="/">HOME</a>
            </li>
            <li class="coffee">
                <a href="/coffee">COFFEE</a>
            </li>
            <li class="equipment">
                <a href="/equipment">EQUIPMENT</a>
            </li>
            <li class="misc">
                <a href="/misc">MISC</a>
            </li>
            <li class="endlink">
                #if($user.getClass() == $customerClass)
                <a href="/account">MY ACCOUNT</a>
                #elseif($user.getClass() == $adminClass)
                <a href="/stock-management">STOCK MANAGEMENT</a>
                #else
                <a href="/login">LOGIN</a>
                #end
            </li>
            #if($user.getClass() == $customerClass)
            <li>
                <a href="/basket">MY BASKET</a>
            </li>
            #end
        </ul>
    </nav>
    #parse($template)
</body>
</html>