<form action="/login" method="post">
    <label for="username">Your username: </label>
    <input type="text" name="username" id="username">
    <button type="submit">Submit Username</button>
</form>

#foreach ($user in $users)
<p>$user.getName()</p>
<p>$user.getUsername()</p>
#end