<h1>Hello, $user.getName()</h1>
<div class="main_content">
<a href="/coffee">
    <div class="main_link">
        COFFEE
    </div>
</a>

<a href="/equipment">
    <div class="main_link">
        EQUIPMENT
    </div>
</a>

<a href="/misc">
    <div class="main_link">
        MISC
    </div>
</a>
</div>
