<p>home page</p><a href="/coffee">
    <div class="main_coffee">
        COFFEE
    </div>
</a>

<a href="/equipment">
    <div class="main_coffee">
        EQUIPMENT
    </div>
</a>

<a href="/misc">
    <div class="main_coffee">
        MISC
    </div>
</a>