<h1>Misc</h1>
<div class="all_items">
    #foreach ($m in $misc)
    <div class="single_item">
        <p>$m.getDescription()</p>
        <p>$m.getPrice()</p>
        <a href="/misc/$m.getId()">Show More</a>
    </div>
    #end
</div>